<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.muu.cartoon.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <application
        android:name="com.muu.service.ApplicationLauncher"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.muu.ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
             android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.muu.ui.CategoryCartoonsListActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.SearchActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.RecentReadListActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.OfflineReadActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.DetailsPageActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.ReadPageActivity"
            android:hardwareAccelerated="false"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.TopicsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity 
            android:name="com.muu.ui.EventActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
                
        <activity
            android:name="com.muu.ui.ShareActivityDialog"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/FloatDialogTheme" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.muu.ui.SelectPathDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/FloatDialogTheme" />
        
        <activity
            android:name="com.muu.ui.AboutDialogActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="nosensor"
            android:theme="@style/FloatDialogTheme" />
        
        <activity
            android:name="com.muu.ui.CommentsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="nosensor"/>
        
        <activity
            android:name="com.tencent.weibo.sdk.android.component.PublishActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize" />
        <activity android:name="com.tencent.weibo.sdk.android.component.ReAddActivity" />
         
         <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent801536295" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>